[submodule "submodules/luajit-2.0"]
	path = submodules/luajit-2.0
	url = https://github.com/ozeliurs/luajit-2.0.git
[submodule "submodules/infra"]
	path = submodules/infra
	url = https://github.com/ozeliurs/infra.git
[submodule "submodules/indigo"]
	path = submodules/indigo
	url = https://github.com/ozeliurs/indigo.git
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = https://github.com/ozeliurs/bigcode.git
[submodule "submodules/loxigen-artifacts"]
	path = submodules/loxigen-artifacts
	url = https://github.com/ozeliurs/loxigen-artifacts.git